---
- name: PACKAGES-INSTALL | Install node_exporter to /opt/
  become: true
  ansible.builtin.unarchive:
    remote_src: true
    list_files: true
    owner: root
    group: root
    src: "{{ node_exporter_pkg.src }}"
    dest: "{{ node_exporter_pkg.install_pref | dirname }}"
    creates: "{{ node_exporter_pkg.install_pref }}"
