---
- name: PACKAGES-INSTALL | Install node_exporter to /opt/
  become: true
  ansible.builtin.unarchive:
    remote_src: true
    list_files: true
    owner: root
    group: root
    src: 'https://github.com/prometheus/node_exporter/releases/download/v1.3.1/node_exporter-1.3.1.linux-amd64.tar.gz'
    dest: "{{ node_exporter_pkg.install_pref | dirname }}"
    creates: "{{ node_exporter_pkg.install_pref }}"
