---
- block:
    - name: PROMETHEUS-CONFIGURE | Template prometheus.service to tmp location
      become: yes
      ansible.builtin.template:
        src: "prometheus.service.j2"
        dest: "{{ systemd_units.system.path }}/prometheus.service"
        backup: yes
      register: _service_template

    - name: PROMETHEUS-CONFIGURE | Verify prometheus.service file
      become: yes
      ansible.builtin.command:
        argv:
          - '/bin/systemd-analyze'
          - 'verify'
          - "{{ systemd_units.system.path }}/prometheus.service"
      when: _service_template.changed is true

    - name: PROMETHEUS-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _service_template.backup_file }}"
        state: absent
      when: _service_template.backup_file is defined

  rescue:
    - name: PROMETHEUS-CONFIGURE | Restore file from backup
      become: yes
      ansible.builtin.copy:
        remote_src: yes
        dest: "{{ systemd_units.system.path }}/prometheus.service"
        src: "{{ _service_template.backup_file }}"
      when: _service_template.backup_file is defined

    - name: PROMETHEUS-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _service_template.backup_file }}"
        state: absent
      when: _service_template.backup_file is defined

    - name: PROMETHEUS-CONFIGURE | Fail anyway
      ansible.builtin.fail:
        msg: "{{ ansible_failed_task }}: {{ ansible_failed_result }}"

- block:
    - name: PROMETHEUS-CONFIGURE | Template prometheus.yml config to tmp location
      become: yes
      ansible.builtin.template:
        src: "prometheus.yml.j2"
        dest: "{{ prometheus_config_path }}"
        backup: yes
      register: _config_template


    - name: PROMETHEUS-CONFIGURE | Verify prometheus.yml config
      become: yes
      ansible.builtin.command:
        argv:
          - "{{ prometheus_pkg.install_pref }}/promtool"
          - 'check'
          - 'config'
          - "{{ prometheus_config_path }}"
      when: _config_template.changed is true

    - name: PROMETHEUS-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _config_template.backup_file }}"
        state: absent
      when: _config_template.backup_file is defined

  rescue:
    - name: PROMETHEUS-CONFIGURE | Restore file from backup
      become: yes
      ansible.builtin.copy:
        remote_src: yes
        dest: "{{ prometheus_config_path }}"
        src: "{{ _config_template.backup_file }}"
      when: _config_template.backup_file is defined

    - name: PROMETHEUS-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _config_template.backup_file }}"
        state: absent
      when: _config_template.backup_file is defined

    - name: PROMETHEUS-CONFIGURE | Fail anyway
      ansible.builtin.fail:
        msg: "{{ ansible_failed_task }}: {{ ansible_failed_result }}"

- name: PROMETHEUS-CONFIGURE | Enable prometheus.service
  become: yes
  ansible.builtin.systemd:
    daemon_reload: yes
    service: 'prometheus.service'
    enabled: yes
    scope: system
    state: started
  register: _service_run

- name: PROMETHEUS-CONFIGURE | Get prometheus config file stats
  become: yes
  ansible.builtin.stat:
    mime: no
    attr: no
    get_checksum: no
    path: "{{ prometheus_config_path }}"
  register: _config_stat

- name: PROMETHEUS-CONFIGURE | Restart prometheus if its config was changed
  become: yes
  ansible.builtin.systemd:
    service: 'prometheus.service'
    state: restarted
  when: _config_template.changed is true or ( _config_stat.stat.mtime > (_service_run.status.ExecMainStartTimestamp|to_datetime('%a %Y-%m-%d %H:%M:%S %Z')).timestamp() )
