# {{ ansible_managed }}

[Unit]
Description=node_exporter
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ node_exporter_service.ExecStart }}
Restart=always

[Install]
WantedBy=multi-user.target
