---
# SYSTEMD SERVICE TEMPLATE

- block:
    - name: GRAFANA-CONFIGURE | Template grafana.service to tmp location
      become: yes
      ansible.builtin.template:
        src: "grafana.service.j2"
        dest: "{{ systemd_units.system.path }}/grafana.service"
        backup: yes
      register: _service_template

    - name: GRAFANA-CONFIGURE | Verify grafana.service file
      become: yes
      ansible.builtin.command:
        argv:
          - '/bin/systemd-analyze'
          - 'verify'
          - "{{ systemd_units.system.path }}/grafana.service"
      when: _service_template.changed is true

    - name: GRAFANA-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _service_template.backup_file }}"
        state: absent
      when: _service_template.backup_file is defined

  rescue:
    - name: GRAFANA-CONFIGURE | Restore file from backup
      become: yes
      ansible.builtin.copy:
        remote_src: yes
        dest: "{{ systemd_units.system.path }}/grafana.service"
        src: "{{ _service_template.backup_file }}"
      when: _service_template.backup_file is defined

    - name: GRAFANA-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _service_template.backup_file }}"
        state: absent
      when: _service_template.backup_file is defined

    - name: GRAFANA-CONFIGURE | Fail anyway
      ansible.builtin.fail:
        msg: "{{ ansible_failed_task }}: {{ ansible_failed_result }}"

# CONFIG TEMPLATE

- block:
    - name: GRAFANA-CONFIGURE | Template defaults.ini config to tmp location
      become: yes
      ansible.builtin.template:
        src: "defaults.ini.j2"
        dest: "{{ grafana_conf_dir }}/defaults.ini"
        backup: yes
      register: _config_template

    - name: GRAFANA-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _config_template.backup_file }}"
        state: absent
      when: _config_template.backup_file is defined

  rescue:
    - name: GRAFANA-CONFIGURE | Restore file from backup
      become: yes
      ansible.builtin.copy:
        remote_src: yes
        dest: "{{ grafana_conf_dir }}/defaults.ini"
        src: "{{ _config_template.backup_file }}"
      when: _config_template.backup_file is defined

    - name: GRAFANA-CONFIGURE | Remove backup file
      become: yes
      ansible.builtin.file:
        path: "{{ _config_template.backup_file }}"
        state: absent
      when: _config_template.backup_file is defined

    - name: GRAFANA-CONFIGURE | Fail anyway
      ansible.builtin.fail:
        msg: "{{ ansible_failed_task }}: {{ ansible_failed_result }}"

# DASHBOARD TEMPLATE

#- name: GRAFANA-CONFIGURE | Template dashboards
#  become: yes
#  ansible.builtin.template:
#    src: "dashboard.yaml.j2"
#    dest: "{{ grafana_conf_dir }}/provisioning/dashboards/dashboard.yaml"
#  register: _dashboards_template

# PLUGINS TEMPLATE

#- name: GRAFANA-CONFIGURE | Template plugins
#  become: yes
#  ansible.builtin.template:
#    src: "plugins.yaml.j2"
#    dest: "{{ grafana_conf_dir }}/provisioning/plugins/plugin.yaml"
#  register: _plugins_template

# LAUNCH/REBOOT SERVICE

- name: GRAFANA-CONFIGURE | Enable grafana.service
  become: yes
  ansible.builtin.systemd:
    daemon_reload: yes
    service: 'grafana.service'
    enabled: yes
    scope: system
    state: started
  register: _service_run

- name: GRAFANA-CONFIGURE | Get grafana config file stats
  become: yes
  ansible.builtin.stat:
    mime: no
    attr: no
    get_checksum: no
    path: "{{ grafana_conf_dir }}/defaults.ini"

- name: GRAFANA-CONFIGURE | Restart grafana if its config was changed
  become: yes
  ansible.builtin.systemd:
    service: 'grafana.service'
    state: restarted
  when: >
    (
      (_config_template.changed is true)
#     or
#     (_dashboards_template.changed is true)
#     or
#     (_plugins_template.changed is true)
    )
    and
    (_service_run.changed is false)
