## loop_var: target

## Example of how targets can look and how they can be in one ordered list
# pile_of_targets:
# - name: 'rabbitmq-server'
#   type: 'key'
#   key: 'https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc'

# - name: 'socat'
#   type: 'repo'

# - name: 'logrotate'
#   type: 'repo'

# - name: 'erlang'
#   type: 'rpm'
#   pkg: 'https://github.com/rabbitmq/erlang-rpm/releases/download/v23.3.4.10/erlang-23.3.4.10-1.el7.x86_64.rpm'

# - name: 'rabbitmq-server'
#   type: 'rpm'
#   pkg: 'https://github.com/rabbitmq/rabbitmq-server/releases/download/v3.9.13/rabbitmq-server-3.9.13-1.el7.noarch.rpm'

# - name: 'node_exporter'
#   type: 'tar'
#   src: 'https://github.com/prometheus/node_exporter/releases/download/v1.3.1/node_exporter-1.3.1.linux-amd64.tar.gz'
#   creates: 'node_exporter-1.3.1.linux-amd64'

- block:
  - name: "Import {{ target.name }} signing key for RPM"
    become: true
    ansible.builtin.rpm_key:
      key: "{{ target.key }}"
      state: present
  when: target.type == 'key'

- block:
  - name: "Install {{ target.name }} from repo"
    become: true
    ansible.builtin.yum:
      name: "{{ target.name }}"
      state: latest
  when: target.type == 'repo'

- block:
  - name: "Install {{ target.name }} RPM-package"
    become: true
    ansible.builtin.yum:
      name: "{{ target.pkg }}"
      state: latest
  when: target.type == 'rpm'

- block:
  - name: "Install {{ target.name }} to /opt"
    become: true
    ansible.builtin.unarchive:
      remote_src: true
      list_files: true
      owner: root
      group: root
      src: "{{ target.src }}"
      dest: '/opt'
      creates: "/opt/{{ target.creates }}"
  when: target.type == 'tar'
