---
- name: PACKAGES-INSTALL | Install deps from repo
  become: true
  ansible.builtin.yum:
    name:
    - 'socat'     # rabbitmq-server
    - 'logrotate' # rabbitmq-server
    state: latest


- name: PACKAGES-INSTALL | Download and install erlang RPM
  become: true
  ansible.builtin.yum:
    pkg: 'https://github.com/rabbitmq/erlang-rpm/releases/download/v23.3.4.10/erlang-23.3.4.10-1.el7.x86_64.rpm'
    state: latest


- block:
  - name: PACKAGES-INSTALL | Import rabbitmq-server signing key for RPM
    become: true
    ansible.builtin.rpm_key:
      key: 'https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc'
      state: present

  - name: PACKAGES-INSTALL | Download and install rabbitmq-server RPM
    become: true
    ansible.builtin.yum:
      pkg: 'https://github.com/rabbitmq/rabbitmq-server/releases/download/v3.9.13/rabbitmq-server-3.9.13-1.el7.noarch.rpm'
      state: latest
