---
- name: RABBITMQ-CONFIGURE | Enable rabbitmq-server.service
  become: yes
  ansible.builtin.systemd:
    daemon_reload: yes
    service: 'rabbitmq-server.service'
    enabled: yes
    scope: system
    state: started

- name: RABBITMQ-CONFIGURE | Enable management and prometheus plugins
  become: yes
  ansible.builtin.command: "rabbitmq-plugins enable {{ item }}"
  register: _
  changed_when: >
    ("Plugin configuration unchanged." not in _.stdout_lines[-1])
  loop:
  - rabbitmq_management
  - rabbitmq_prometheus

- name: RABBITMQ_CONFIGURE | Delete default 'guest' user
  become: yes
  community.rabbitmq.rabbitmq_user:
    user: guest
    state: absent

- name: RABBITMQ_CONFIGURE | Add vhosts
  become: yes
  community.rabbitmq.rabbitmq_vhost:
    vhost: "{{ item.vhost }}"
    state: "{{ item.state | default(omit) }}"
    node: "{{ item.node | default(omit) }}"
    tracing: "{{ item.tracing | default(omit) }}"
  loop: "{{ rabbitmq_definition_vhosts }}"

- name: RABBITMQ_CONFIGURE | Add 'admin' and 'monitoring' users
  become: yes
  community.rabbitmq.rabbitmq_user:
    user: "{{ item.user }}"
    force: "{{ item.force | default(omit) }}"
    tags: "{{ item.tags | default(omit) }}"
    password: "{{ item.password | default(omit) }}"
    update_password: "{{ item.force | default(omit) }}"
    permissions: "{{ item.permissions | default(omit) }}"
  loop: "{{ rabbitmq_definition_commonUsers }}"
