---
- name: RABBITMQ-CONFIGURE | Enable rabbitmq-server.service
  become: yes
  ansible.builtin.systemd:
    service: 'rabbitmq-server.service'
    enabled: yes
    scope: system
    state: started

- name: RABBITMQ-CONFIGURE | Enable management and prometheus plugins
  become: yes
  ansible.builtin.command: "rabbitmq-plugins enable {{ item }}"
  register: _
  changed_when: >
    ("Plugin configuration unchanged." not in _.stdout_lines[-1])
  loop:
  - rabbitmq_management
  - rabbitmq_prometheus
