---
- name: Setup RabbitMQ
  hosts: rabbitmq,&VM
  vars:
    some_rpms_to_install:
    - name: 'erlang'
      url: 'https://github.com/rabbitmq/erlang-rpm/releases/download/v23.3.4.10/erlang-23.3.4.10-1.el7.x86_64.rpm'
    - name: 'rabbitmq-server'
      url: 'https://github.com/rabbitmq/rabbitmq-server/releases/download/v3.9.13/rabbitmq-server-3.9.13-1.el7.noarch.rpm'

    some_deps_to_install:
    - name: 'socat'     # rabbitmq-server
    - name: 'logrotate' # rabbitmq-server

  tasks:
  - name: Create working directory
    ansible.builtin.file:
      path: "/tmp/my_ansible_cwd"
      state: directory
    register: my_cwd

  - name: Import sign key for rabbitmq-server
    become: yes
    ansible.builtin.rpm_key:
      key: 'https://github.com/rabbitmq/signing-keys/releases/download/2.0/rabbitmq-release-signing-key.asc'
      state: present

  - name: Download RPM-packages
    ansible.builtin.get_url:
      url: "{{ item['url'] }}"
      dest: "{{ my_cwd.path }}/{{ item['name'] }}.rpm"
    loop: "{{ some_rpms_to_install }}"

  - name: Install deps from CentOS repo
    become: yes
    ansible.builtin.yum:
      name: "{{ item['name'] }}"
      state: present
    loop: "{{ some_deps_to_install }}"

  - name: Install erlang.rpm
    become: yes
    ansible.builtin.yum:
      name: "{{ my_cwd.path }}/erlang.rpm"
      state: present

  - name: Install rabbitmq-server.rpm
    become: yes
    ansible.builtin.yum:
      name: "{{ my_cwd.path }}/rabbitmq-server.rpm"
      state: present
